<div id="messages-container"
     data-controller="scroll"
     data-action="turbo:render->scroll#scrollToBottom"
     class="flex-1 py-4 px-32 overflow-y-auto max-h-[calc(100vh-80px)]">
  <div id="messages" class="space-y-4">
    <%= render "shared/chatbot/conversations/messages", conversation: conversation %>
  </div>
</div>
